In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import datetime
import random

In [2]:
toyota_pred = pd.read_csv('toyota_predict.csv')
daihatsu_pred=pd.read_csv('daihatsu_predict.csv')
honda_pred=pd.read_csv('honda_predict.csv')
mitsubishi_pred=pd.read_csv('mitsubishi_predict.csv')
suzuki_pred=pd.read_csv('suzuki_predict.csv')
others_pred=pd.read_csv('others_predict.csv')

In [4]:
pred_gabungan=pd.merge(toyota_pred, daihatsu_pred)

In [5]:
pred_gabungan=pd.merge(pred_gabungan, honda_pred)

In [6]:
pred_gabungan=pd.merge(pred_gabungan, mitsubishi_pred)

In [7]:
pred_gabungan=pd.merge(pred_gabungan, suzuki_pred)

In [8]:
pred_gabungan=pd.merge(pred_gabungan, others_pred)

In [9]:
pred_gabungan.columns

Index(['Unnamed: 0', 'Toyota', 'Daihatsu', 'honda', 'mitsubishi', 'suzuki',
       'others'],
      dtype='object')

In [10]:
pred_gabungan.columns=['Periode', 'Toyota', 'Mitsubishi', 'Honda', 'Daihatsu', 'Suzuki','Others']

In [11]:
pred_gabungan.to_csv('pred_gabungan.csv')

In [12]:
pred_gabungan

,Periode,Toyota,Mitsubishi,Honda,Daihatsu,Suzuki,Others
0,2016-03-01,24757.254310,14141.217827,17490.617889,13294.833804,10189.854467,8742.317873
1,2016-04-01,26390.649614,14733.847421,17352.831588,14269.376629,9254.586487,9720.841259
2,2016-05-01,28842.018235,14069.183933,19634.831041,14083.143453,9519.436759,11018.031074
3,2016-06-01,26225.990403,13322.618144,15973.294690,13389.532391,8400.022076,8969.620154
4,2016-07-01,23858.384288,13020.918170,17703.844896,15080.655937,8368.249276,9420.546893
5,2016-08-01,19551.870124,12401.588144,14411.985789,13109.305343,8158.883201,8328.209040
6,2016-09-01,19555.268651,12211.263269,15083.680696,13273.889581,8387.250058,8854.278436
7,2016-10-01,25468.590366,12246.370094,17863.442031,13501.508533,7239.324304,9602.622739
8,2016-11-01,22203.738563,12473.067697,16955.368016,14929.845536,7801.688404,9678.837768
9,2016-12-01,22134.517616,13320.114441,18018.530737,15712.634539,7872.333140,8943.603383
10,2017-01-01,22250.433730,12471.564034,17175.211004,17671.655528,7076.278412,8605.592900
11,2017-02-01,16037.005353,10704.983965,15670.976852,15579.340350,6192.803595,9321.775578
12,2017-03-01,16837.433830,11335.009346,18389.919636,16493.368591,6283.510039,7908.245731
13,2017-04-01,18258.369761,11552.672343,18416.881857,17408.150008,5782.405430,8622.793675
14,2017-05-01,20497.279008,11103.567332,20235.505720,17224.638357,5353.247486,9601.846282
15,2017-06-01,17668.791802,10327.017184,17106.998158,16592.989400,4662.288526,7347.704598
16,2017-07-01,15088.726313,9982.118672,18718.447177,17549.339355,4184.829105,7648.583803
17,2017-08-01,10569.752775,9943.525791,17071.989684,16254.476633,4112.806969,7053.522750
18,2017-09-01,10360.691929,8891.822059,16599.605189,16256.674598,4139.936658,7035.939625
19,2017-10-01,16061.554270,8844.790383,18569.669578,16179.006841,2957.185111,7196.319370
20,2017-11-01,12584.243093,9205.338118,18256.695672,17445.327273,3423.779756,7257.259369
21,2017-12-01,12302.562773,10038.583290,19008.784478,18167.493521,3403.977402,6430.515928
22,2018-01-01,12206.019513,9089.380306,18292.230486,19384.814795,2535.608375,6002.021427
23,2018-02-01,5780.131763,7605.716237,16429.990976,17496.051148,1556.262081,6354.162054

In [13]:
# tes = pd.read_csv('pred_gabungan.csv', parse_dates = ['Periode'], index_col = 'Periode')